@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container {
  font-family: 'Poppins', serif;
  /* background-image: url('https://gdb.voanews.com/09320000-0a00-0242-5cbe-08daf88feb52_w1200_r1.jpg');
  background-size: cover; */
  /* display: flex; */
}
.card {
  border-radius: 10px;
  box-shadow: black 10px 5px 5px;
  /* display: block; */
}

.conten .merk {
  margin-left: 6rem;
}
.conten {
  margin-left: 1rem;
  padding: 10px;
}
img {
  margin-left: 3rem;
  margin-top: 1rem;
}
.merk {
  font-size: 25px;
}
.harga {
  font-weight: bold;
  /* margin-left: 50px; */
}
.card .kondisi {
  background-color: #ae0909;
  padding: 3px;
  border-radius: 10px;
  color: #fff;
}
button {
  width: 5rem;
  padding: 5px;
  border-radius: 5px;
  background-color: #244ec0;
  color: #fff;
}
button:hover {
  background-color: #fff;
  color: #244ec0;
}
@media screen and (min-width: 768px) {
  /* .container {
    background-image: url('https://gdb.voanews.com/09320000-0a00-0242-5cbe-08daf88feb52_w1200_r1.jpg');
    background-size: cover;
  } */
  
}
